@model IEnumerable<MShop.Models.ProductModel>
@*@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = ViewContext.HttpContext;
    var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
    var currentUrl = UriHelper.BuildRelative(httpContext.Request.PathBase, httpContext.Request.Path, httpContext.Request.QueryString);
}*@

<div class="featured-products">

    <div class="products-grid">
        @if (Model != null)
        {
            foreach (var t in Model)
            {
                <a asp-controller="shop" asp-action="product" asp-route-id="@t.ProductCode">
                    <div class="product-container" data-aos="fade-up" data-aos-duration="1000">
                        <div class="product-image-container">
                            <div class="product-image" style="background-image:url(@t.ProductImage)">
                            </div>

                        </div>
                        <br />
                        <h4>
                            @t.ProductName
                            <br />
                            <br />
                            <span class="price">@t.ProductPrice.ToString("c") @ViewBag.Dollar</span>
                            <br />
                            <span id="@t.ProductName.Replace(" ", "-").ToLower()"></span>
                        </h4>
                        <a>
                            <div class="cart-btn" onclick="@t.ProductName.Replace(" ", "").ToLower()Function(); ">
                                Add To Cart
                            </div>
                        </a>
                    </div>
                </a>

                <script>
                function @t.ProductName.Replace(" ", "").ToLower()Function() {
                    $.ajax({
                        //get data
                        url: "/cart/buy/@t.ProductId?quantity=1",
                            type: "Post",
                    success: function (results) {
                        load_cart_data("@ViewBag.Culture");


                        }
                    });

                    //return false;

                //return false;

                    }
                </script>

            }
        }

    </div>
</div>