@model MShop.Models.ProductModel

<div>


    <div class="left">
        <img src='@Model.ProductImage' />
    </div>

    <div class="right"></div>
    <h1>@Model.ProductName</h1>
    <p>
        @Model.ProductLongDesc
    </p>
    <h3>Uses</h3>
    <p>
        @Model.ProductUses
    </p>
    <h3>
        About the ingredients
    </h3>
    <p>
        @Model.ProductIngredients
    </p>
    <h3>Packaging</h3>
    <p>
        @Model.ProductPackaging
    </p>


    @using (Html.BeginForm("buy", "cart", new { id = @Model.ProductId }, FormMethod.Post))
    {
        <input type="number" value="1" min="1" name="Quantity" id="quantity" />
        <input class="cart-btn" type="submit" value="Add To Cart">

    }


</div>